# Environment
.env*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
assets/4666627-hd_2048_968_30fps.mp4
assets/856787-hd_1920_1080_30fps.mp4
assets/1494295-hd_1920_1080_24fps.mp4
assets/SampleVideo_1280x720_1mb.mp4
assets/SampleVideo_1280x720_2mb.mp4
assets/SampleVideo_1280x720_5mb.mp4
